* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: rgba(0, 139, 139, 0.585);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}
.inputs {
  background: #fff;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 32px;
  text-align: center;
}
.data {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}
.data input {
  padding: 4px;
  outline: none;
  border: 1px solid rgb(0, 109, 109);
}
.data button {
  background: rgb(1, 79, 79);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.list {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: flex-start;
}
.box {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.item {
  background: rgb(0, 79, 79);
  padding: 10px;
  margin: 4px;
  cursor: move;
  color: #fff;
}
